@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fuente-titulos: "Poppins", sans-serif;
    --fuente-parrafos: "Roboto", sans-serif;
    --backgroud-color:rgba(177,206,216,255);
    --colorPrimario:  rgba(57,156,126,255);
    --tamanio-tiutlos: 40px;
    --tamanio-textos: 18px;
    --tamanio-formulario: 20px;
}

body{
    background-color: var(--backgroud-color);
    /* font-family: var(--fuente-titulos); */
    display: flex;
}
h2{
    font-family: var(--fuente-titulos);
    margin-bottom: 0;
    font-size: var(--tamanio-tiutlos);
}

p{
    font-family: var(--fuente-parrafos);
    margin-top: 8px;
}

label{
    font-family: var(--fuente-titulos);
    font-size: var(--tamanio-formulario);
}

.section__contenedor{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    margin: 90px 80px;
    border-radius: 7px;
    align-items: center;
    width: 100%;
}

.section__titulo{
    background-color: var(--colorPrimario);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: start;
     padding-top: 108px;
    padding-bottom: 118px; 
    border-radius: 7px 0 0 7px;
}
.imagen__bolsa{
    width: 400px;
}

.div__titulo-y-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section__titulo div h2{
    font-weight: 550;
    letter-spacing: 1.5x;

}
.p__descripcion{
    width: 370px;
    font-size: var(--tamanio-textos);
    opacity: 0.4;
}
.p__instruccion{
    font-size: var(--tamanio-textos);
    opacity: 0.4;
    width: 400px;
}

.section__formulario{
    background-color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    padding-top: 90px;
    padding-bottom: 40px;
    border-radius: 0 7px 7px 0;

}
.h2__titulo{
    align-self: flex-start;
    padding-left: 130px;
}
.formulario{
    display: flex;
    flex-direction: column;
    width:  100%;
    /* margin: 15px 50px; */

}
.select__reason {
    appearance: none;
    position: relative;
    padding-right: 30px;
  }

 .select__flecha{
    position: absolute;
    top: 470px;
    right: 260px;
    transform: translateY(-50%);
    pointer-events: none;
 }

 .select__flecha img{
    width: 40px;
    height: 50px; 
    opacity: 0.8;
 }


.input__amount, .select__reason{
    height: 65px;
    margin-top: 20px;
    margin: 20px 140px 2px;
    border-radius: 5px;
    border: 1px solid rgba(241,241,241,255);
    background-color: rgba(241,241,241,255);
    padding: 0 20px;
    font-size: var(--tamanio-formulario);
    font-family: var(--fuente-titulos);
    color: rgb(159,153,153);


}

.div__cuentaEnBanco{
    margin: 15px 160px;
}
.div__radio{
    margin: 10px 0;
    cursor: pointer;
}

.div__radio label{
    font-weight: 600;
}
.input__radio{
    margin-right: 15px;
    appearance: none;
    /* background-color: rgb(159,153,153); */
    border: 12px solid rgba(241,241,241,255);
    border-radius: 50%;
    cursor: pointer;
}

.input__radio:checked{
    border: 12px solid var(--colorPrimario);
    transition: 0.5s;
}

.input__radio:checked + label{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.div__botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}
.a__back, .a__next{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    background-color: var(--colorPrimario);
    font-family: var(--fuente-titulos);
    font-size: var(--tamanio-formulario);
    padding: 15px 25px;
    margin: 10px 5px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.a__back:hover , .a__next:hover {
    /* border: 1px solid black; */
    background-color: black;
    /* color: var(--colorPrimario); */
    transition:0.5s;
    text-align: center;
}

.img__flechaBack, .img__flechaNext{
    width: 25px;
    cursor: pointer;
}

.img__flechaBack{
    padding-right: 5px;
}

.img__flechaNext{
    padding-right: 5px;
    transform: rotate(180deg);
}