/*Medidas standar de movile*/



@media (max-width: 1280px){
    .section__titulo{
        padding-top: 120px;
        padding-bottom: 130px; 
    }
}
@media (max-width: 1024px){
    h2{
        font-size: 35px;
    }
    p{
        font-size: 15px;
    }
    
    .section_.section__contenedor{
        width: 900px;
        margin: 60px 50px;
    }_titulo{
        width: 450px;
    }

    .section__formulario{
        width: 450px;
        padding-top: 42px;
    }

    .imagen__bolsa{
        width: 300px;
    }

    .div__contenedorTituloDescripcion{
        margin-left: 0;
        padding-left: 70px;
        width: 370px;
    }
    .input__amount, .select__reason{
        height: 65px;
        margin-top: 20px;
        margin: 20px 70px 2px;
}
    .p__instruccion{
        width: 300px;
    }

    .p__descripcion{
        width: 310px;
    }

    .select__flecha{
        top: 420px;
        right: 150px;
     }

     .div__cuentaEnBanco{
        margin: 15px 90px;
    }

    .div__botones{
        margin-right: 40px;
    }
}

@media (max-width: 768px){
    .section__contenedor{
        width: 700px;
        margin: 44px 34px;
    }

    .div__contenedorTituloDescripcion{
        padding-left: 20px;
        width: 300px;
    }

    .section__formulario, .section__titulo{
        width: 350px;
    }

    .section__formulario{
    
      padding-top: 40px;
      padding-bottom: 17px;
    }
    .input__amount, .select__reason{
        margin: 20px 50px 2px;
}

.select__flecha{
    top: 360px;
    right: 110px;
 }
}

@media (max-width: 480px){
    .section__contenedor{
        flex-direction: column;
    }

    .section__titulo{
        border-radius: 5px;
        margin-bottom: 10px;
        padding-bottom: 50px;
    }

    .section__formulario{
        border-radius: 5px;
        margin-top: 5px;
    }

    .select__flecha{
        top: 890px;
        right: 130px;
     }
}

@media (max-width: 320px){
    .div__tituloBanco{
        width: 300px;
    }
    .p__descripcion{
        width: 290px;
    }
    .div__contenedorTituloDescripcion{
        align-self: center;
        padding: 0;
    }

    .select__flecha{
        top: 850px;
        right: 60px;
     }

     .section__titulo{
        padding-top: 60px;
     }
}